/* Font */
@import url('https://fonts.googleapis.com/css?family=Roboto');

*, html, body {
    padding: 0;
    margin: 0;
    font-family: 'Roboto', sans-serif;
    color: #FFF;
    list-style: none;
}

body {
    background-image: url("https://www.toptal.com/designers/subtlepatterns/patterns/simple_dashed.png");
    overflow-y: scroll;
}

a {
    text-decoration: none;
}

h3 {
    margin-bottom: 15px;
}

h3 span {
    font-size: 16px;
    color: #8642d7;
}

/* Gallery */
.galleryFade ul li {
    transition: all .2s ease-in-out;
    -webkit-transition: all .2s ease-in-out;
    -o-transition: all .2s ease-in-out;
    -moz-transition: all .2s ease-in-out;
    -ms-transition: all .2s ease-in-out;
}

#gallery:hover > ul li {
    opacity: 0.3;
}

#gallery:hover > ul li:hover {
    opacity: 1.0;
}

#gallery ul {
    list-style-type: none;
}

#gallery ul li {
    position: relative;
    display: inline-block;
    width: 247px;
}

#gallery ul li i {
    position: absolute;
    margin: 10px 0 0 10px;
    color: #AAA;
    display: block;
    height: 175px;
}

#gallery ul li a {
    position: relative;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    display: block;
    height: 175px;
}

.sliderImage {
    display: table-cell;
    width: 250px;
    height: 250px;
    background-size: cover;
    overflow: hidden;
    position: relative;
}

.sliderImage .imageToolbox {
    position: absolute;
    text-transform: uppercase;
    font-family: 'Roboto';
    padding: 7px;
    z-index: 1000;
    top: 60%;
    left: -80%;
    color: #ffffff;
    font-weight: 300;
    font-size: 13px;
    width: 80%;
    -webkit-transition: all 0.7s;
    -moz-transition: all 0.7s;
    -ms-transition: all 0.7s;
    transition: all 0.7s;

}

.sliderImage:hover .imageToolbox {
    background-color: #8642d7;
    left: 0px;

}

/*Delete Button*/
.deleteButton {
    border-radius: 4px;
    background-color: #8642d7;
    border: none;
    padding: 20px;
    width: 200px;
    transition: all 0.5s;
}

.deleteButton span {
    cursor: pointer;
    display: inline-block;
    position: relative;
    transition: 0.5s;
}

.deleteButton span:after {
    content: '»';
    position: absolute;
    opacity: 0;
    top: 0;
    right: -20px;
    transition: 0.5s;
}

.deleteButton:hover span {
    padding-right: 25px;
}

.deleteButton:hover span:after {
    opacity: 1;
    right: 0;
}

/* Vertical Align */
.vertAlign {
    display: table;
    width: 100%;
    height: 100vh;
    text-align: center;
    border-top: 1px solid rgba(255, 255, 255, 0.15);
}

.vertAlignInt {
    display: table-cell;
    width: 100%;
    height: 100%;
    vertical-align: middle;
}

/* Wrapper */
.wrapper {
    width: 1000px;
    margin: 0 auto;
    text-align: left;
}

/** LIGHTBOX MARKUP **/
.lightbox {
    /** Default lightbox to hidden */
    display: none;

    /** Position and style */
    position: fixed;
    z-index: 999;
    width: 100%;
    height: 100%;
    text-align: center;
    top: 0;
    left: 0;
    background: rgba(0, 0, 0, 0.8);
}

.lightbox img {
    /** Pad the lightbox image */
    max-width: 90%;
    max-height: 80%;
    margin-top: 2%;
}

.lightbox:target {
    /** Remove default browser outline */
    outline: none;

    /** Unhide lightbox **/
    display: block;
}

.view-back button {
    display: bock;
    font-size: 18px;
    color: rgba(255, 255, 255, 0.4);
    position: absolute;
    right: 15px;
    bottom: 15px;
    border: 2px solid rgba(255, 255, 255, 0.3);
    border-radius: 50%;
    width: 30px;
    height: 30px;
    line-height: 22px;
    text-align: center;
    font-weight: 700;
}

.view-back button:hover {
    color: #fff;
    border-color: #fff;
}

/* Footer */
footer {
    z-index: 999;
    position: fixed;
    bottom: 0;
    right: 0;
    margin: 0 15px 15px 0;
    padding: 5px;
    border-radius: 3px;
    font-size: 12px;
    font-weight: bold;
    background-color: rgba(0, 0, 0, 0.6);
}

footer i {
    font-size: 15px !important;
    vertical-align: middle;
    margin: -2px 0 0 15px;
}

footer a:hover {
    color: #8642d7;
}

